<div class="container ">
<h1 class="mt-4 "> <span style="color:rgb(179, 179, 179)">SignUp! to RailsBLog...</span></h1><br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class:"shadow-lg p-3 mb-3 rounded") do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <span style="color:rgb(179, 179, 179)">
  <div class="field form-group row mt-4">
    <%= f.label :email %><br />
    <div class="col-10">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control shadow rounded", 
              placeholder:"User email address" %>
    </div>
  </div></span><br>

  <span style="color:rgb(179, 179, 179)">
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <div class="col-10">
      <%= f.password_field :password, autocomplete: "new-password",
          class:"form-control shadow rounded", placeholder:"Enter a Password" %>
    </div>
  </div></span><br>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <div class="col-10">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",
        class:"form-control shadow rounded" %></div>
  </div><br>

  <div class="actions">
    <%= f.submit "Sign up", class:"btn btn-outline-light btn-lg shadow rounded" %>
  </div><br>
<% end %>

<%= render "devise/shared/links" %>
</div>