<center>
<h1 class="mt-4 "> <span style="color:rgb(179, 179, 179)">LogIn! to RailsBLog...</span></h1><br>

<div class="container ">

<%= form_with(scope: :usersessions,url: login_path, local: true, class:"shadow-lg p-3 mb-3 rounded") do |new| %>
    
    <span style="color:rgb(179, 179, 179)">
    <div class="form-group row mt-4">
        <%= new.label :email, class:"col-2 col-form-table" %>
        <div class="col-10">
        <%= new.email_field :email, class:"form-control shadow rounded", placeholder:"User email address" %></div>
    </div></span>

    <span style="color:rgb(179, 179, 179)">
    <div class="form-group row mt-4">
        <%= new.label :password, class:"col-2 col-form-table" %>
        <div class="col-10">
        <%= new.password_field :password, class:"form-control shadow rounded", placeholder:"Enter your Password" %></div>
    </div></span>
    <br>
       <center> <%= new.submit "Login", class:"btn btn-outline-light btn-lg shadow rounded" %> </center>
    <br><br>
    
    <h6><%= link_to '< Cancel and return to -> Articles page >', articles_path,class:"text-success" %></h6>
<%end%>
</div>

</center>