<center>
<% if current_page?(articles_path) %>
    <%= form_tag( articles_path , method: :get) do %>
        <div class="form-inline mt-1 ">
            <%= text_field_tag :search, params[:search], placeholder: " Search Articles", class:"form-comtrol shadow rounded col-4" %>
            <%= collection_select(:category, :name, Category.all,:name,:name,{:prompt => 'Categories'},{class:"form-comtrol shadow rounded col-1 "}) %>
            &nbsp;<%= submit_tag "Search", class:"btn btn-info btn-sm shadow rounded", :name => nil %>
        </div>
    <% end %>
<%end%>
</center>
<%if @articles.any?%>
<% @articles.each do |cur_article| %>
            <br><br>
            <div class="col-6">
        <div class="card text-center shadow-lg p-3 mb-5 rounded text-muted bg-dark">
            <div class="card-header text-white">
               <i> by @<%= link_to cur_article.author.username, user_path(cur_article.author.id), class:"text-secondary" %> </i> 
               
            </div>
            <div class="card-body">
                <h5 class="card-title "> <%= link_to cur_article.title, article_path(cur_article), class:"text-info" %> </h5>

                <% if cur_article.categories.any? %>
                    <div class="mt-2"><%= render cur_article.categories %></div> 
                <%end%>

                <%= render 'articles/links', article: cur_article %>
                <p class="card-text"> 
                <%= truncate(cur_article.description,length:120) %> </p>
                
                <% if current_author && current_author == cur_article.author %>
                <%= link_to "Edit", edit_article_path(cur_article) ,class:"btn btn-outline-warning"%>&nbsp;&nbsp;
                <%=  link_to 'Delete', articles_delete_path(cur_article), confirm: "Are you sure to delete?" ,class:"btn btn-outline-danger", method: :delete%>
                <%end%>
            </div>
            
            <div class="card-footer text-muted">
                <small>Created <%= time_ago_in_words(cur_article.created_at)%> ago ,
                Updated <%= time_ago_in_words(cur_article.updated_at)%> ago
                </small>
            </div>
            </div></div></div>
        <% end %>
<%else%>
    <br><br><br><br><br><br><br><br> <center>
    <h1 class="text-muted"> No articles available</h1> </center>
<%end%>