<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rails Blog</title>
    <style>
    table{
        border-spacing: 5px
    }
    #t01 tr:nth-child(even) {
    background-color: #eee;
    }
    #t01 tr:nth-child(odd) {
    background-color: #fff;
    }
    #t01 th {
    color: white;
    background-color: black;
    }
    </style>
</head>
<body>
    <center>
        <h1 class="mt-4 "> <span style="color:rgb(179, 179, 179)"> All Articles</span></h1><br>
        <% 
        articles = @articles.sort_by { |t| [t.updated_at , t.created_at]}.reverse
        articles.each do |article| %>
            <br><br>
            <div class="row justify-content-md-center">
            <div class="col-6">
        <div class="card text-center shadow-lg p-3 mb-5 rounded text-muted bg-dark">
            <div class="card-header ">
               <span style="color:rgb(204, 204, 204)"><i> by <%=article.user.user_name%> </i> </span>
            </div>
            <div class="card-body">
                <h5 class="card-title "> <%= link_to article.title, article_path(article), class:"text-info" %> </h5>
                <p class="card-text"> 
                <%= truncate(article.description,length:120) %> </p>
                
                <%= link_to "View", article_path(article) ,class:"btn btn-outline-success"%>&nbsp;&nbsp;
                <%= link_to "Edit", edit_article_path(article) ,class:"btn btn-outline-warning"%>&nbsp;&nbsp;
                <%=  link_to 'Delete', articles_delete_path(article), method: :delete, confirm: "Are you sure to delete?" ,class:"btn btn-outline-danger"%>
            </div>
            <div class="card-footer text-muted">
                <small>Created <%= time_ago_in_words(article.created_at)%> ago ,
                Updated <%= time_ago_in_words(article.updated_at)%> ago
                </small>
            </div>
            </div></div></div>
        <% end %>
    </center>
</body>
</html>