<div class="container">
    <p>
        <%= link_to '<< Return Home', articles_path, class:"btn btn-outline-secondary btn-sm shadow rounded" %> &nbsp;
        <%if current_author%>
            <% if already_saved(@article.id) %>
                <%= link_to 'Remove from saved',removefromsaved_path(:article_id => @article.id), method: :delete, class:"btn btn-outline-danger btn-sm shadow rounded" %> 
            <% else %>
                <%= link_to 'Save_article', savearticle_path(:article_id => @article.id), class:"btn btn-outline-muted btn-sm shadow rounded text-muted" %>
            <% end %>
        <%end%>
    </p>
    <div class="text-white">
        <p><h2><%= @article.title %></h2><small><i>by @<%= link_to @article.author.username, user_path(@article.author.id), class:"text-secondary" %></i></small></p>
        <pre class="text-white">
            <%= @article.content %>
        <pre>
    </div>
    <h2> <%= @article.comments.count %> Comments</h2>
    <%= render "comments" %>
    <%  if current_author %>
        <h5>Add your comment </h5>
        <%= render "addcomment" %>
    <%end%>
</div>
