<center>
<div class="container mt-4">
<h1> <span style="color:rgb(179, 179, 179)"> All Authors</span></h1><br>
<% @users.each do |usr|%>
<div class="row justify-content-md-center">
        <div class="card text-muted bg-dark mb-5 col-6">
        <center><h5 class="card-header text-primary"><%= usr.username %>
            <%= link_to(image_tag("http://assets.stickpng.com/images/580b57fcd9996e24bc43c521.png", class: 'image-responsive'), 
                'https://www.instagram.com/', target: :_blank) %></center>  
        </h5>
            <div class="card-body">
                <h5 class="card-title"> *Author : <%= usr.username %></h5>
                <p class="card-text"><i>Author email : <%= usr.email %></i></p>
                <%= link_to "Go to Profile ", user_path(usr),class:"btn btn-outline-success"  %>
            </div>
    </div></div>
<%end%>
</div>
</center>
