<center>
<h1 class="mt-4 "> <span style="color:rgb(179, 179, 179)">Forgot Your password ?</span></h1><br>

<div class="container col-6">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post },class:"shadow-lg p-3 mb-3 rounded") do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <span style="color:rgb(179, 179, 179)">
  <div class="form-group row mt-4">
  <div class="field">
    <%= f.label :email,class:"col-2 col-form-table" %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control shadow rounded",
    placeholder: "Enter email to send reset-password link" %>
    </div>
  </div></span>
  <br><br>
  <center>
  <div class="actions">
    <%= f.submit "Send me reset password instructions",class:"btn btn-outline-success btn-lg shadow rounded" %>
  </div></center>
<% end %>
<br>
<%= render "devise/shared/links" %>
</div>
</center>