<nav class="navbar navbar-expand-lg navbar-light bg-light">
&nbsp;&nbsp;&nbsp;
<%= link_to "Rails Blog", root_path ,class:"navbar-brand", id:"logo"  %>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <%= link_to "Articles", articles_path,class:"nav-link "  %>
    </li>
    <li class="nav-item active">
        <%= link_to "Authors", users_path,class:"nav-link "  %>
    </li>

    <% if author_signed_in? %>
        <li class="nav-item">
            <%= link_to 'Logout', destroy_authsession_path,  class: "nav-link" %>
        </li>
        <li class="nav-item">
            <i><%= link_to "@"+current_author.username, user_path(current_author.id), class: "nav-link"%></i>
        </li>
    <%else%>
        <li class="nav-item">
            <%= link_to "Log In", new_author_session_path, class:"nav-link" %>
        </li>
    <%end%>
    </ul>
    <ul class="navbar-nav ms-auto ">
    <%if current_author%>
            <%= link_to 'New article',new_article_path, class:"btn btn-outline-success shadow rounded"  %> &nbsp;&nbsp;
            <%= link_to "Saved Articles", savedarticles_path(author_id: current_author.id) ,class:"btn btn-outline-info shadow rounded" %> &nbsp;&nbsp;
    <%end%>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <p><sub> <%= link_to '@inbasagaran', "https://www.linkedin.com/in/inbasagaran/", class:"text-secondary", target: :_blank %> </sub></p> &nbsp;&nbsp;&nbsp;
    </ul>
    
</div>
</nav>